@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("colors.css");
@import url("page.css");

::-moz-selection {
  color: var(--primary1);
  background: var(--accent);
}
/* Code for Firefox */
::selection {
  color: var(--primary1);
  background: var(--accent);
}
* {
  padding: 0px;
  margin: 0px;
  transition: all 1s ease-in-out;
}

body {
  background: var(--primary3);
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
