<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static
    "assets/favico/apple-touch-icon.png" %}"> <link rel="icon"
    type="image/png"sizes="32x32" href="{% static "assets/favico/-32x32.png"
    %}"> <link rel="icon" type="image/png" sizes="16x16" href="{% static
    "assets/favico/favicon-16x16.png" %}"> <link rel="manifest" href="{% static
    "assets/favico/site.webmanifest" %}"> <link rel="stylesheet" href={% static
    'css/style.css' %}>
  </head>
  <body>
    <div class="wrap">
      <div class="search">
        <form action="word">
          <input
            type="text"
            name="search"
            class="searchTerm"
            placeholder="Input Your Word Here"
          />
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
